// general
*{
	margin: 0;
	padding: 0;
	line-height: 1;
	transition: all 0.3s;
}
html{
	font-size: 62.5%;
	height: 100vh;
}
body{
	font-size: 2rem;
	color: $fontColor;
	font-family: $bodyFont;
	background-image: linear-gradient(180deg, rgba(156, 39, 176, 0.3), rgba(156, 39, 176, 0.3)), url("../assets/light_wool.png");
/* background patter from subtle patterns */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}
a{
	color: inherit;
	text-decoration: none;
}
ul{
	list-style: none;
}
.wrapper{
	max-width: 117rem;
	margin: 0 auto;
}
// end general
// header styles
h1{
	text-transform: uppercase;
	text-align: center;
	font-family: $headFont;
	font-size: 5rem;
	font-weight: 700;
	width: 50%;
	margin: 3rem auto;
	text-shadow: 1px 1px 2px $background;
	span{
		color: $highlight;
	}
	@include responsive("medium"){
		width: 100%;
	}
}
// end header
// main styles
main{
	text-align: center;
	img{
		margin: 1rem auto;
		height: 15rem;
		width: auto;
	}
}
.fa{
	display: block;
	color: $highlight;
	font-size: 12rem;
	text-align: center;
	margin: 2rem 0;
}
.fa-chevron-circle-down{
	font-size: 5rem;
	color: white;
	position: absolute;
	bottom: -0.5rem;
	right: 1rem;
	z-index: 1;
	@include responsive("custom"){
		bottom: 0.5rem;
	}
	@include responsive("large"){
		bottom: -0.5rem;
	}
	@include responsive("medium"){
		bottom: 0.5rem;
	}
	@include responsive("small"){
		bottom: -0.5rem;
	}
}
.options{
	display: flex;
	justify-content: space-between;
	@include responsive("large"){
		flex-wrap: wrap;
	}
	div{
		width: 25%;
		margin: 0 1rem;
		padding: 1rem;
		background: white;
		border-radius: 1rem;
		font-weight: bold;
		position: relative;
		height: 33rem;
		@include responsive("large"){
			width: calc(50% - 2rem);
			margin-top: 2rem;
			height: 30rem;
		}
		@include responsive("medium"){
			height: 33rem;
		}
		@include responsive("small"){
			width: calc(100% - 2rem);
			margin-top: 2rem;
			height: 30rem;
		}
	}
}
label{
	line-height: 1.2;
}
select{
	appearance: none;
	border: none;
	width: 100%;
	height: 8rem;
	cursor: pointer;
	line-height: 1.2;
	white-space: pre-wrap;
	padding: 1rem;
	padding-right: 6rem;
	background: $highlight;
	color: white;
	border: 2px solid white;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	@include responsive("custom"){
		height: 10rem;
	}
	@include responsive("large"){
		height: 8rem;
	}
	@include responsive("medium"){
		height: 10rem;
	}
	@include responsive("small"){
		height: 8rem;
	}
}
option{
	appearance: none;
	border: none;
	line-height: 1.2;
	&:hover{
		background: white;
		color: $highlight;
	}
}
.fa-spinner{
	font-size: 6rem;
	color: $background;
	margin: 0 auto;
	margin-top: 4rem;
}
button{
	appearance: none;
	border: none;
	padding: 1rem 2rem;
	background: $background;
	color: white;
	text-transform: uppercase;
	border-radius: 5rem;
	border: 2px solid white;
	margin-top: 4rem;
	font-weight: bold;
	font-size: 2.5rem;
	&:hover{
		background: white;
		color: $background;
		border: 2px solid $background;
	}
}
h2{
	font-size: 2.4rem;
	margin-bottom: 2rem;
}
h3{
	font-size: 2.6rem;
	margin: 2rem 0;
	color: $background;
}
h4{
	font-size: 2rem;
	color: $background;
}
.hidden{
	display: none;
}
section{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	@include responsive("large"){
		flex-direction: column;
	}
}
#map{
	height: 25rem;
	width: 85%;
	margin: 0 auto;
	border: 2px solid $background;
	border-radius: 0.5rem;
	@include responsive("small"){
		width: auto;
	}
}
.productOne, .productTwo{
	width: calc(50% - 2rem);
	background: white;
	border-radius: 1rem;
	margin: 0 1rem;
	padding: 3rem;
	border: 2px solid $highlight;
	@include responsive("large"){
		width: 75%;
		margin: 0 auto;
	}
	@include responsive("medium"){
		width: calc(100% - 2rem);
	}
	i{
		margin: 1rem auto;
		height: 15rem;
		width: auto;
	}
}
.productOne{
	@include responsive("large"){
		margin-bottom: 4rem;
	}
}
// end main
// footer styles
footer{
	margin-top: 2rem;
	padding-bottom: 1rem;
	.wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
		@include responsive("small"){
			flex-direction: column;
		}
	}
}
p{
	font-size: 1.8rem;
}
img{
	width: 10rem;
	height: auto;
	@include responsive("small"){
		margin-top: 2rem;
	}
}
// end footer